@font-face {
    font-family: 'coquette_regularregular';
    src: url('../fonts/coquette_regular-webfont.woff2') format('woff2'),
         url('../fonts/coquette_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comic_zine_otregular';
    src: url('../fonts/comic_zine_ot-webfont.eot');
    src: url('../fonts/comic_zine_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comic_zine_ot-webfont.woff') format('woff'),
         url('../fonts/comic_zine_ot-webfont.ttf') format('truetype'),
         url('../fonts/comic_zine_ot-webfont.svg#comic_zine_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'coquette_regularregular';
    font-size: 16px;
	margin: 0;
	padding: 0;
}

#translado {
    z-index: 10000;
    background-image: url(../img/translado-bg.png);
    width: 100%;
    height: 730px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #F2FFE3;
    position: absolute;
    display: none;
   
}

.yellow-lab-duck {
	margin-top: 30%;
    margin-left: 15%;
}

.chocolate-lab-fish {
	margin-top: 30%;
    margin-left: 60%;
    position: absolute;
    z-index: 10;
}

.molino {
    margin-top: -22%;
    margin-left: 61%;
    position: absolute;
    z-index: 0;
}

.pink-bubble {
	position: absolute;
    margin-top: 15.2%;
    z-index: 0;
}

.pink-bubble2 {
    position: absolute;
    margin-top: 24.2%;
    z-index: 0;
    height: 96px;
    left: -15%;
}

.pink-bubble3 {
    position: absolute;
    margin-top: 19.2%;
    z-index: 0;
    height: 115px;
    left: -19%;
}

.translado-text {
	width: 403px;
    margin-left: 423px;
    margin-top: 50px;
    position: absolute;
    color: #F2FFE3;
}

.translado-text2 {
    width: 541px;
    margin-left: 136px;
    margin-top: 118px;
    position: absolute;
    color: #F2FFE3;
}

.translado-text h1 {
	font-weight: 100;
    font-family: 'comic_zine_otregular';
    font-size: 50px;
    margin: 8px 0;
}

#conde {
    background-color: #F2FFE3;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 637px;
    z-index: 100000;
    display: none;
}

.ocean {
    position: absolute;
    margin-top: 653px;
    z-index: 1;
}

#fish1{  
  width:40px;
  height:40px;
  left:-30px;
  top: 550px;
  position:absolute;
}

#boat {
    position: absolute;
    top: 187px;
    left: 643px;
    z-index: 1;
}

#sun {
    position: absolute;
    left: 76%;
    top: 9%;
}

#origen {
    background-color: #F2FFE3;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 736px;
}

#origen img {
    width: 45%;
    height: auto;
    top: 11%;
    left: 47%;
    position: absolute;
}

#pin {
    position: absolute;
    left: 79%;
    top: -7%;
    display: none;
}

.arrow {
    bottom: 0;
    left: 96%;
    top: 366px;
    position: absolute;
    z-index: 1000000;
    cursor: pointer;
}

.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.animated {
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;

    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    animation-fill-mode:both;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
}


@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
    } 
    40% {
        -webkit-transform: translateX(-30px);
    }
    60% {
        -webkit-transform: translateX(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
    40% {-moz-transform: translateX(-30px);}
    60% {-moz-transform: translateX(-15px);}
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
    40% {-o-transform: translateX(-30px);}
    60% {-o-transform: translateX(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(-30px);}
    60% {transform: translateX(-15px);}
}

#origen, 
#translado,
#conde {
    top: 725px;
}

#landing,
#porque {
    height: 725px;
}

#porque {
    top: 1461px;
    position: absolute;
    width: 100%;
    background: #D67E48;
}

#landing {
    background-color: #F28F7C;
}

.lab-heads {
    float: left;
    margin: 40px;
}

.lab-head-container {
    width: 60%;
    margin: 0 auto;
}

#landing h1, 
#landing h2, 
#adopcion h2, 
#porque h2, 
#cuidados h2,
#padecimientos h2,
#juegos h2 {
    font-family: 'comic_zine_otregular';
    color: #F2FFE3;
    font-size: 100px;
    font-weight: 100;
    margin: 0;
    padding: 35px;
    text-align: center;
}   

#navigation {
    z-index: 9999999;
}

.navbar-nav li img {
    width: 60px;
    margin: 0 auto;
    display: block;

    visibility: visible;
    opacity: 1;
    transition : visibility 0.5s, opacity 0.5s linear;
}

.yourClass .navbar-nav li img {
    visibility : hidden;
    opacity : 0;
    display: none;
}

.navbar-nav > li {
    width: 109px;
    margin: 0 53px 0 0;
    text-align: center;
}

.yourClass .navbar-nav > li {
    margin: 0 43px 0 0;
}

.yourClass .navbar-nav > li.porque {
    width: 183px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
    color: #F2FFE3;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default.yourClass {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 0;
}

.hidden-eyes,
.hidden-eyes-2,
.hidden-eyes-3 {
    opacity: 0;
}

#adopcion h2,
#porque h2 {
    font-size: 60px;
    color: #225378;
}   

.family-img {
    width: 350px;
    float: right;
    margin: 180px 24% 0;
}    

#adopcion-bubble {
    margin-top: 19%;
    left: 750px;
    height: 96px;
    position: relative;
}

/*#adopcion-bubble {
    margin-top: 19.2%;
    left: -54px;
    height: 96px;
    position: relative;
}*/

.adopcion-text {
    margin-top: -332px;
    width: 297px;
    margin-left: 349px;
}

.hearts {
    margin: -308px 494px 0 0;
    float: right;
}

.chocolate-lab {
    margin: -134px 459px 0 0;
    float: right;
}

.lab-div {
    margin: 0 auto;
    display: block;
    width: 400px;
}

/*tooltip*/

.color-5 {
    /* background: #e4eaea; */
    width: 200px;
    float: left;
    margin-top: -543px;
}

.color-5 .codrops-demos a {
    color: #e35583;
}

.content {
    padding: 0 1em;
    margin: 0 auto;
    text-align: center;
}

/* Dummy elements */
.dummy {
    text-align: left;
    padding: 1em;
    min-height: 300px;
    margin: 0 auto;
    font-weight: 300;
}

.dummy-menu {
    max-width: 16%;
    margin: 4em 11em;
}

.dummy-menu ul,
.dummy-team ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 0 3em;
    margin-top: 60px;
}

.dummy-menu ul li {
    /*display: inline-block;*/
    position: relative;
    margin: 0 1em;
    font-size: 1.5em;
}

.dummy-menu ul li a {
    display: inline-block;
    font-weight: 700;
    padding: 0.15em 0.25em 0;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: #F0DEC9;
}

.dummy-menu-icons ul li {
    width: 2em;
    height: 2em;
    font-size: 2em;
    line-height: 1.75;
    margin-bottom: 25px;
}

/*tooltip mas*/


.tooltip2 {
    display: inline;
    position: relative;
    z-index: 999;
    /*font-size: 2em;*/
}

.tooltip2 i {
    font-size: 2em;
}

.tooltip2 img {
    width: 100%;
    height: auto;
}

.reason-1-active,
.reason-2-active,
.reason-3-active,
.reason-4-active,
.reason-5-active,
.reason-6-active,
.reason-7-active,
.reason-8-active,
.reason-9-active,
.reason-10-active {
    margin-top: -113px;
    /*display: none;*/
    transition: opacity 0.5s ease-out;
    opacity: 0; 
}

.reason-1:hover .reason-1-active,
.reason-2:hover .reason-2-active,
.reason-3:hover .reason-3-active,
.reason-4:hover .reason-4-active,
.reason-5:hover .reason-5-active,
.reason-6:hover .reason-6-active,
.reason-7:hover .reason-7-active,
.reason-8:hover .reason-8-active,
.reason-9:hover .reason-9-active,
.reason-10:hover .reason-10-active {
    opacity: 1;
}

.tooltip-content {
    position: absolute;
    background: url(../svg/shape1.svg) no-repeat center bottom;
    background-size: 100% 100%;
    z-index: 9999;
    width: 200px;
    bottom: 0;
    left: 100%;
    margin-left: -12px;
    padding: 73px 30px;
    text-align: center;
    color: #fff;
    opacity: 0;
    cursor: default;
    font-size: 0.55em;
    line-height: 1.4;
    pointer-events: none;
    font-family: 'Kalam', cursive;
    -webkit-transform: scale3d(0.1,0.2,1);
    transform: scale3d(0.1,0.2,1);
    -webkit-transform-origin: 50% 120%;
    transform-origin: 50% 120%;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, transform 0.4s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
    transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
}

#right-col .tooltip-content {
    left: 0;
    margin-left: -192px;
}

.tooltip2:hover .tooltip-content {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

/* Arrow */

.tooltip-content::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 57%;
    margin-left: -104px;
    top: 52%;
    background: #673ab7;
    -webkit-transform: translate3d(0,-60%,0) rotate3d(0,0,1,45deg);
    transform: translate3d(0,-60%,0) rotate3d(0,0,1,45deg);
}

#right-col .tooltip-content::after {
    left: 100%;
    margin-left: -26px;
}
bootstrap.min.css:5
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#porque h2 {
    color: #F0DEC9;
}

.ul-line-1,
.ul-line-2,
.ul-line-3,
.ul-line-4 {
    height: 47px;
    width: 1px;
    background: #F0DEC9;
    position: absolute;
    margin: 118px 0 0 63px;
}

.ul-line-2 {
    margin: 207px 0 0 63px;
}

.ul-line-3 {
    margin: 296px 0 0 63px;
}

.ul-line-4 {
    margin: 385px 0 0 63px;
}

#right-col {
    position: absolute;
    float: right;
    left: 60%;
    top: 74.6%;
}

#box {
    width: 460px;
    height: 460px;
    position: relative;
    top: -140px;
    left: 874px;
    text-indent: 90px;
    transform-origin: center top;
    background-image: url('../img/box.png');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 9;
}

#box.animated {
    -webkit-animation: dangle 2s 1;
}

@-webkit-keyframes dangle {
    0% { -webkit-transform: rotate(28deg); }
    10% { -webkit-transform: rotate(-26deg); }
    20% { -webkit-transform: rotate(24deg); }
    30% { -webkit-transform: rotate(-22deg); }
    40% { -webkit-transform: rotate(20deg); }
    50% { -webkit-transform: rotate(-18deg); }
    60% { -webkit-transform: rotate(16deg); }
    70% { -webkit-transform: rotate(-14deg); }
    80% { -webkit-transform: rotate(10deg); }
}

#cuidados h2 {
    float: right;
    margin-right: 153px;
    padding: 73px 0;
    width: 400px;
    font-size: 52px;
    position: relative;
    z-index: 9999;
}

.box-text {
    color: #F2FFE3;
    width: 425px;
    float: right;
    z-index: 99999;
    position: relative;
    margin: 131px 15px 0 0;
}

#black-dog {
    width: 261px;
    height: 301px;
    position: absolute;
    margin: 0 23%;
    z-index: 9;
}

.board {
    width: 500px;
    float: right;
    position: relative;
    margin: 9px -462px 0 0;
    z-index: 999;"
}

#hidden-eyes-black {
    opacity: 0;
}

#unas {
    top: -250px;
    position: relative;
    /*left: -4px;*/
    z-index: 9;
}

#hand {
    left: 200px;
    position: absolute;
}

.floor {
    bottom: 0;
    left: 0;
    height: 150px;
    background: #1595a3;
    top: -280px;
    position: relative;
}

.hair-text,
#brush {
    opacity: 0;
    display: none;
}

#brush {
    position: absolute;
    margin: -446px 0 0 197px;
    z-index: 8;
}

#padecimientos h2 {
    font-size: 60px;
}

.sad-yellow-lab {
    width: 461px;
    position: absolute;
    left: 130px;
}

.numbers {
    width: 800px;
    float: right;
    padding-right: 70px;
}

.numbers li {
    list-style: none;
}

.svg-numbers {
    width: 20%;
    padding: 65px;
}

.text-for-numbers {
    width: 80%;
}

.svg-numbers,
.text-for-numbers {
    float: left;
}

.text-for-numbers {
    color: #F2FFE3;
    opacity: 0;
}

.text-for-numbers h3 {
    color: #fee187;
}

/*.frisbee-container {
    margin-top: 250px;
    position: absolute;
    margin-left: 16px;
}

#ball-animation {
    margin-top: 120px;
    position: absolute;
}*/

#juegos h2 {
    font-size: 60px;
}

.text-games {
    background-image: url(../img/text-games.png);
    width: 800px;
    height: 200px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    float: right;
}

.text-games span {
    margin: 37px 57px;
    display: block;
    font-size: 80px;
    font-family: 'comic_zine_otregular';
    color: #ce9109;
}

.text-games > div {
    float: right;
    width: 563px;
    margin: -175px 213px;
    position: absolute;
    color: #fff;
}

.text-games > div h3 {
    color: #ce9109;
}

.text-1 {
    margin: -120px 63px 0 0;
}

.text-2 {
    margin: 0 63px 0 0;
}

.text-3 {
    margin: 0 63px 0 0;
}