@font-face {
    font-family: 'coquette_regularregular';
    src: url('../fonts/coquette_regular-webfont.woff2') format('woff2'),
         url('../fonts/coquette_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comic_zine_otregular';
    src: url('../fonts/comic_zine_ot-webfont.eot');
    src: url('../fonts/comic_zine_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comic_zine_ot-webfont.woff') format('woff'),
         url('../fonts/comic_zine_ot-webfont.ttf') format('truetype'),
         url('../fonts/comic_zine_ot-webfont.svg#comic_zine_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'coquette_regularregular';
    font-size: 16px;
	margin: 0;
	padding: 0;
}

#translado {
    z-index: 10000;
    background-image: url(../img/translado-bg.png);
    width: 100%;
    height: 730px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #F2FFE3;
    position: absolute;
    display: none;
   
}

.yellow-lab-duck {
	margin-top: 30%;
    margin-left: 15%;
}

.chocolate-lab-fish {
	margin-top: 30%;
    margin-left: 60%;
    position: absolute;
    z-index: 10;
}

.molino {
    margin-top: -22%;
    margin-left: 61%;
    position: absolute;
    z-index: 0;
}

.pink-bubble {
	position: absolute;
    margin-top: 15.2%;
    z-index: 0;
}

.pink-bubble2 {
    position: absolute;
    margin-top: 24.2%;
    z-index: 0;
    height: 96px;
    left: -15%;
}

.pink-bubble3 {
    position: absolute;
    margin-top: 19.2%;
    z-index: 0;
    height: 115px;
    left: -19%;
}

.translado-text {
	width: 403px;
    margin-left: 423px;
    margin-top: 50px;
    position: absolute;
    color: #F2FFE3;
}

.translado-text2 {
    width: 541px;
    margin-left: 136px;
    margin-top: 118px;
    position: absolute;
    color: #F2FFE3;
}

.translado-text h1 {
	font-weight: 100;
    font-family: 'comic_zine_otregular';
    font-size: 50px;
    margin: 8px 0;
}

#conde {
    background-color: #F2FFE3;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 637px;
    z-index: 100000;
    display: none;
}

.ocean {
    position: absolute;
    margin-top: 45%;
    z-index: 1;
}

#fish1{  
  width:40px;
  height:40px;
  left:-30px;
  top: 550px;
  position:absolute;
}

#boat {
    position: absolute;
    top: 187px;
    left: 643px;
    z-index: 1;
}

#sun {
    position: absolute;
    left: 76%;
    top: 9%;
}

#origen {
    background-color: #F2FFE3;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 736px;
}

#origen img {
    width: 45%;
    height: auto;
    top: 11%;
    left: 47%;
    position: absolute;
}

#pin {
    position: absolute;
    left: 79%;
    top: -7%;
    display: none;
}

.arrow {
    bottom: 0;
    left: 96%;
    top: 366px;
    position: absolute;
    z-index: 1000000;
    cursor: pointer;
}

.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.animated {
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;

    animation-iteration-count: 6;
    -moz-animation-iteration-count: 6;
    -webkit-animation-iteration-count: 6;

    animation-fill-mode:both;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
}


@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
    } 
    40% {
        -webkit-transform: translateX(-30px);
    }
    60% {
        -webkit-transform: translateX(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
    40% {-moz-transform: translateX(-30px);}
    60% {-moz-transform: translateX(-15px);}
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
    40% {-o-transform: translateX(-30px);}
    60% {-o-transform: translateX(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(-30px);}
    60% {transform: translateX(-15px);}
}

#origen, 
#translado,
#conde {
    top: 725px;
}

#landing,
#porque {
    height: 725px;
}

#porque {
    top: 1461px;
    position: absolute;
    width: 100%;
}

#landing {
    background-color: #F28F7C;
}

.lab-heads {
    float: left;
    margin: 40px;
}

.lab-head-container {
    width: 60%;
    margin: 0 auto;
}

#landing h1, #landing h2, #adopcion h2 {
    font-family: 'comic_zine_otregular';
    color: #F2FFE3;
    font-size: 100px;
    font-weight: 100;
    margin: 0;
    padding: 35px;
    text-align: center;
}   

#navigation {
    z-index: 9999999;
}

.navbar-nav li img {
    width: 60px;
    margin: 0 auto;
    display: block;

    visibility: visible;
    opacity: 1;
    transition : visibility 0.5s, opacity 0.5s linear;
}

.yourClass .navbar-nav li img {
    visibility : hidden;
    opacity : 0;
    display: none;
}

.navbar-nav > li {
    width: 109px;
    margin: 0 53px 0 0;
    text-align: center;
}

.yourClass .navbar-nav > li {
    margin: 0 43px 0 0;
}

.yourClass .navbar-nav > li.porque {
    width: 183px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
    color: #F2FFE3;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default.yourClass {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 0;
}

.hidden-eyes,
.hidden-eyes-2,
.hidden-eyes-3 {
    opacity: 0;
}

#adopcion h2 {
    font-size: 60px;
    color: #225378;
}   

.family-img {
    width: 350px;
    float: right;
    margin: 180px 24% 0;
}    

#adopcion-bubble {
    margin-top: 19.2%;
    left: -54px;
    height: 96px;
    position: relative;
}

.adopcion-text {
    margin-top: -332px;
    width: 297px;
    margin-left: 349px;
}

.hearts {
    margin: -308px 494px 0 0;
    float: right;
}

.chocolate-lab {
    margin: -134px 459px 0 0;
    float: right;
}